<button
  type="button-agregar"
  class="btn btn-success"
  routerLink="/productos/form"
>
  Nuevo
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 4.5v15m7.5-7.5h-15"
    />
  </svg>
</button>

<div class="grid-container">
  <div
    class="alert alert-info m-5"
    *ngIf="lista == undefined || lista.length == 0"
  >
    No existen generos musicales registrados o no se pudo conectar a la base de
    datos
  </div>

  <div class="container2">
    <div class="paginador">
      <mat-paginator
        [length]="totalRegistros"
        [pageSize]="totalXPagina"
        [pageIndex]="paginaActual"
        [pageSizeOptions]="pageSizeOptions"
        (page)="paginar($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
