/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  /* overflow: hidden;  */
}

main {
  /* border: 10px solid red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 100%; */
}

.parent {
  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer " 60px;
}
.child:nth-child(1) {
  grid-area: header;
}
.child:nth-child(2) {
  grid-area: main;
}
.child:nth-child(3) {
  grid-area: footer;
}

nav {
  background: linear-gradient(90deg, #48079c, #3739a1, #6b11e0);
  animation: gradient 4s ease infinite;
  background-size: 200% 200%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav .navbar-brand {
  font-size: 2em;
  font-weight: 900;
  color: #efb810;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.4s;
}

nav .nav-link {
  color: #ebd081;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: 0.2s;
}

li.nav-item .nav-link.active {
  color: #df4653;
  font-size: 20px;
  font-weight: 800;
  transition: 0.4s;
}

a.nav-link:hover {
  color: #84ec92;
  transition: 0.4s;
}

a.navbar-brand:hover {
  color: #ebd081;
  font-size: 34px;
  font-weight: 900;
  transition: 0.2s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* border: 10px solid red; */
}

.grid-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-evenly;
  /* height: 100%; */
  /* border: 10px solid red; */
}

div.container2 {
  position: fixed;
  bottom: 60px;
  /* height: 76px; */
  width: 100%;
  /* border: 10px solid red; */
}

.container3 {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.container3:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

/* main {
    background: linear-gradient(-45deg, #6303C9, #3D2655, #7D708B, #5F00C4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   */
html {
  height: 100%;
}

.bg {
  animation: slide 4s ease-in-out infinite alternate;
  background: linear-gradient(48deg, rgb(7, 4, 20) 42%, rgb(12, 7, 34) 42%);
  bottom: 0;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 6s;
}

.bg3 {
  animation-duration: 7s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

div.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 40px;
  grid-gap: 20px;
}

div.card {
  background-image: linear-gradient(135deg, #8378a4, #4421df);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0, 18);
  cursor: pointer;
  transition: 0.6s;
  border: 10px solid black;
}

div.card:hover {
  transform: translateY(-4%);
  box-shadow: 0 4rem 8rem #430aff;
  transition: 0.4s;
}

div.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
}

.card img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

div.card1 > .container3:after {
  background-image: linear-gradient(135deg, #b0d896, #30cd3f);
}
div.card2 > .container3:after {
  background-image: linear-gradient(135deg, #efc845, #d06c2b);
}
div.card3 > .container3:after {
  background-image: linear-gradient(135deg, #f50cbd, #f50c17);
}
div.card4 > .container3:after {
  background-image: linear-gradient(135deg, #3f0cf5, #0cf5f5);
}

.details > h1 {
  color: #e2d09c;
  text-shadow: 0 0 3px black, 0 0 5px black;
  margin: 10px 0 15px 0;
}

.imgIndex {
  width: 438px;
  height: 280px;
  display: block;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

button.btn-success {
  /* background-color: #99E58D; */
  background-color: #aff150;
  color: black;
  padding: 8px 8px 10px 8px;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  margin: 20px;
  transition: 0.6s;
}

button.btn-success:hover {
  background-color: #2a865b;
  border-radius: 10% / 50%;
  transition: 0.4s;
}

a.btn-primary {
  background-color: #4cccef;
  color: black;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  margin: 20px;
}

a.btn-warning {
  background-color: #ffae00;
  color: black;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  margin: 10px;
  transition: 0.4s;
}

a.btn-warning:hover {
  background-color: #b66f05;
  color: white;
  border-radius: 10% / 50%;
  transition: 0.4s;
}

a.btn-danger {
  background-color: #ff005d;
  color: black;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  margin: 10px;
  transition: 0.4s;
}

a.btn-danger:hover {
  border-radius: 10% / 50%;
  transition: 0.4s;
}

div.details > h1 {
  color: #e2d09c;
  /* text-shadow: 0 0 3px black, 0 0 5px black; */
  margin: 10px 0 15px 0;
  font-size: 38px;
  font-family: cursive;
}

div.cardG {
  background-image: linear-gradient(135deg, #e2d09c, #4421df);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0, 18);
  /* cursor: pointer; */
  transition: 0.6s;
  border: 4px solid #e2d09c;
  padding: 24px;
}

div.cardG:hover {
  transform: translateY(-4%);
  box-shadow: 0 2rem 4rem #0cf5f5;
  transition: 0.4s;
}

.cardG {
  flex: 1;
  flex-basis: 400px;
  flex-grow: 0;
  height: 440px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  /* width: 400px; */
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  margin: 40px 20px;
}
.cardG img {
  width: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  border-radius: 10px;
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  padding: 60px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  text-align: center;
}
.cardG:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.cardG:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.cardG:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(6px);
}

.cardG h1 {
  color: #1071ef;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 38px;
  font-weight: 900;
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.cardG p {
  line-height: 24px;
  height: 70%;
}
.cardG button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.cardG button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

.imgG {
  border-radius: 20px;
}

h1.titulo1 {
  font-size: 42px;
  font-weight: 900;
  color: #ebd081;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

svg {
  width: 35px;
  height: 30px;
}
